[Unit]
Description= Network Manager Services (wifi, moca and bluetooth) Daemon
After= iarmbusd.service mfrmgr.service authservice.service tr69hostif.service network-online.target
Requires=iarmbusd.service network-online.target

[Service]
EnvironmentFile=/etc/device.properties
ExecStart=/bin/sh -c 'source /lib/rdk/opt-override.sh;/usr/bin/netsrvmgr --debugconfig $DEBUGINIFILE --configFilePath $NETSRVMGRINIFILE'
ExecStop=/bin/kill -15 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
