[Unit]
Description=Preferred Network Interface Settings Loader
After=wifi.service
Before=netsrvmgr.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/bin/cp /opt/persistent/pni_wifi /tmp
ExecStart=-/bin/cp /opt/persistent/wifi_disallowed /tmp

[Install]
WantedBy=multi-user.target
